.row{
    margin-top: 56px;
}
#root > div > div > div > div.col-md-8 > h1 > small{
    margin-left: 10px;
}

div.card-footer.text-muted > a{
    margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 60px;
    margin-bottom: .5rem;
}